:root{
    --navbar-height:10vh;
}

body{
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('../assets/jru_banner.png');
    background-size: cover;

}

nav.navbar {
    display: flex;
    gap: 50px;
    /* background: rgba(10, 10, 10, 0.3); */
    background: white;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    min-height: var(--navbar-height);
}

section.main-content{
    margin-top: var(--navbar-height);
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box !important;
}

a {
    color: rgb(0, 71, 159);
    text-decoration: none;
}

.mt-3{
    color: black;
}

.home-welcome{
    min-height: 100vh !important;
    padding: 0 !important;

    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    display: flex;
}

.welcome_p {
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    color: white;
}

.title_sub{
    color: white;
    font-size: 25px;
}

.home-welcome {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    height: auto !important;

}


  body > * {
    font-display: inherit;
  }
  .home{
    color: black;
  }
  .nav-link.active {
    color: darkblue !important;
    font-weight: bold;
    border-bottom: 3px solid rgb(0, 143, 156);
  }
  .nav-link{
    font-size: 1rem !important;
  }
.home-description{
    padding-top: 10% !important;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

.home-row{
    height: calc(100vh - --navbar-height) !important;
}

.full-height{
    height: 100%;
}
